<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>

   <!-- DocuSign Developer Account Details -->
    <add key="UserID" value="ReplaceMe"/>
    <add key="OAuthBasePath" value="account-d.docusign.com"/>
    <add key="IntegratorKey" value="ReplaceMe"/>
    <add key="Host" value="https://demo.docusign.net/restapi"/>
    
   <!-- Envelope Details -->
    <add key="TemplateID" value="ReplaceMe"/>
    <add key="RecipientName" value="DocuSign Demo"/>
    <add key="RecipientEmail" value="ReplaceMe"/>

   <!-- SharePoint account deatils -->
   <add key="ShowSharePointDemo" value="false"/>
   <add key="IsOffice365" value="true"/>
    <add key="SiteUrl" value="ReplaceMe" />
    <add key="TargetLibrary" value="ReplaceMe"/>
    <add key="UserName" value="ReplaceMe"/>
    <add key="Password" value="ReplaceMe"/>
</appSettings>
</configuration>